<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lobster&family=Satisfy&display=swap" 
    rel="stylesheet">
    <title>Document</title>
</head>
<body>

 <header class="header" >
    <h1 style="font-size: 3rem;">Thank you for your purchase!</h1> 
</header>
 
<div class="main" id="form">
    <div>
<h2>Your package is on its way...</h2>
<img src="https://i.imgur.com/ir695W6.jpg" alt="image">
    <form action="/products/<%=product.id%>?_method=PATCH" method="POST">
       <input type="number" name="qty" value="<%= product.qty %>" style="visibility:hidden">
        <button type="submit">HOME</button>
    </form>
    </div>
</div>

</body>
</html>